<style>
/* FIX SEMUA BACKGROUND PUTIH */
.RqXmQ, .bVaBrh, .eUcZqk, .kEAPMQ {
    background: rgb(0, 0, 0) !important; /* HITAM GELAP */
}

.RqXmQ *, .bVaBrh * {
    color: white !important; /* TEXT PUTIH */
}

/* FIX BUTTON DI POPUP */
.iHiJNI {
    color: white !important;
    border-color: white !important;
}
</style>
padding-top:40px;
padding-right:48px;
padding-bottom:210px;
padding-left:48px;

background-image: url("img/bg.jpg"); /* disarankan rename dulu */
background-size: cover;
background-position: center top;
background-repeat: no-repeat;